.gradle/
build/
.DS_Store
*.iml
*.apk
*.aar
*.zip
google-services.json

.project
.settings
.classpath

local.properties

.idea/*
!idea/codeStyles

captures
.externalNativeBuild
.cxx

.gradle\
*.bin
*.apk
.gradle/7.3.3/checksums/checksums.lock
